/* Write your CSS here */
.sm-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sm-img {
  width: 70%;
}
.lg-img {
  width: 70%;
}
@media (min-width: 768px) {
  .sm-container {
    display: none;
  }
}
.lg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .lg-container {
    display: none;
  }
}
